*{
    font-family: proxima-nova, sans-serif;
    color: white;
}
body{
    background: black;
}
header{
    height: 5em;
}
.logo h1{
    font-size: 2em;
}
.logo p{
    font-size: 0.9em;
    text-align: center;
    margin-top: -0.9em;
}
.logo{
    margin: 2em;
    width: 15em;
}
.container-1 h1{
    text-align: center;
    line-height: 1.5em;
}
.container-1 h3{
    text-align: center;
    margin-top: 2em;
    font-weight: 400;
}
.container-1{
    margin-top: 6em;
}
.profile button{
    border-radius: 10px 0px 10px;
    font-weight: bold;
    padding: 1em;
    width: 11em;
    border: solid black;
    background: rgb(229, 9, 20);
    cursor: grab;
}
.profile a{
    text-decoration: none;
}
.profile{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.profile i{
    color: white;
    margin-top: 0.7em;
}
#apresentacao{
    margin: 8em;
    padding: 1em;
   
}
#apresentacao h3{
    line-height: 1.5em;
    font-size: x-large;
}
#foto-apresentacao {
    width: 16em;
    height: fit-content;
}
#apresentacao p{
    width: 20em;
    line-height: 1.8em;
    font-weight: 400;
}
.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#virada{
    margin-top: -3em;
    padding: 1em;
}
#virada h3{
    line-height: 1.5em;
    font-size: x-large;
}
#foto-virada{
    width: 10em;
    height: 5em;
}
#virada p{
    width: 20em;
    line-height: 1.8em;
    font-weight: 400;
}
#virada-2 p{
    color: #abababcc;
    font-size: small;
    text-align: center;
}
#virada2{
display: none;
}
#virada2_BG{
    display: none;
    width: 52em;
    background: rgb(62 62 62 / 30%);
    height: 26em;
    margin: auto;
    margin-top: -23em;
    overflow-x: hidden;
    overflow-y: hidden;
}
#virada2_BG i{
    margin-left: 33em;
    margin-top: 0.5em;
    cursor: grab;
}
#fotoVirada2{
    padding: 2em;
    margin: auto;
    position: relative;
    top: 2em;
    margin-left: -51em;
}

/*Dispositivo Móvel P*/
@media (min-width:320px){
    .logo {
        margin: auto;
        width: 15em;
        margin-top: 2em;
    }
    .container-2{
        flex-direction: column;
    }
    #foto-apresentacao{
        top: -7em;
        position: relative;
    }
    .container-3{
        flex-direction: column;
    }
    #fotoVirada2{
        height: 6em;
        margin-left: -47.8em;
        width: 15em;
        margin-top: 7em;
        border-radius: 0.8em;
    }
    #virada2_BG{
        width: 21em;
        background: rgb(0 0 0 / 91%);
        height: 22em;
        position: relative;
        margin: auto;
        margin-bottom: 2em;
        margin-top: 2em;
        margin-top: -19em;
        overflow-x: hidden;
    }
    #virada2_BG i {
        margin-left: 31em;
        position: relative;
        left: -19em;
        margin-top: 1.5em;
        cursor: grab;
    }
    #zoomSpan{
        color: white;
        position: absolute;
        margin-top: 22em;
        color: #abababcc;
        font-size: small;
        margin-left: 2.7em;
    }
}
/*Dispositivo Móvel M*/
@media (min-width:375px){
    .logo {
        margin: auto;
        width: 15em;
        margin-top: 2em;
    }
    .container-1 h3 {
        padding: 1em;
    }
    .container-1 h1{
        font-size: 1.7em;
    }
    .container-2{
        flex-direction: column;
    }
    #foto-apresentacao{
        top: -7em;
        position: relative;
    }
    .container-3{
        flex-direction: column;
    }
    #fotoVirada2{
        height: 6em;
        margin-left: -47.8em;
        width: 15em;
        margin-top: 7em;
        border-radius: 0.8em;
    }
    #virada2_BG{
        width: 21em;
    background: rgb(0 0 0 / 91%);
    height: 22em;
    position: relative;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-top: -19em;
    overflow-x: hidden;
    }
    #virada2_BG i {
        margin-left: 31em;
        position: relative;
        left: -19em;
        margin-top: 1.5em;
        cursor: grab;
    }
    #zoomSpan{
        color: white;
        position: absolute;
        margin-top: 22em;
        color: #abababcc;
        font-size: small;
        margin-left: 2.7em;
    }
}
/*Dispositivo Móvel G*/
@media (min-width:425px){
    .logo {
        margin: auto;
        width: 15em;
        margin-top: 2em;
    }
    .container-2{
        flex-direction: column;
    }
    #foto-apresentacao{
        top: -7em;
        position: relative;
    }
    .container-3{
        flex-direction: column;
    }
    #fotoVirada2{
        height: 6em;
        margin-left: -47.8em;
        width: 15em;
        /* margin: 0em; */
        margin-top: 7em;
        border-radius: 0.8em;
    }
    #virada2_BG{
        width: auto;
        background: rgb(0 0 0 / 91%);
        height: 26em;
        position: relative;
        margin: auto;
        margin-top: -21em;
        overflow-x: hidden;
    }
    #virada2_BG i {
        margin-left: 33em;
        position: relative;
        left: -19em;
        margin-top: 1.5em;
        cursor: grab;
    }
    #zoomSpan{
        color: white;
        position: absolute;
        margin-top: 22em;
        color: #abababcc;
        font-size: small;
        margin-left: 2.7em;
    }
}
/*Ipads, Tablets*/
@media (min-width:768px){
    .logo {
        margin: auto;
        width: 15em;
        margin-top: 2em;
    }
    .container-1 h1{
        font-size: 2em;
    }
    .container-2{
        flex-direction: column;
    }
    #foto-apresentacao{
        top: -7em;
        position: relative;
    }
    .container-3{
        flex-direction: column;
    }
   
}
/*Telas pequenas, Laptops*/
@media (min-width:1024px){
    .logo{
        margin: 2em;
        width: 15em;
    }
    .container-1 h1{
        text-align: center;
        line-height: 1.5em;
    }
    .container-1 h3{
        text-align: center;
        margin-top: 2em;
        font-weight: 400;
    }
    .container-1{
        margin-top: 6em;
    }
    .container-2{
        flex-direction: row;
    }
    #foto-apresentacao{
        top: 0em;
        position: relative;
    }
    .container-3{
        flex-direction: row;
    }
    #fotoVirada2{
        padding: 2em;
        margin: auto;
        position: relative;
        top: 2em;
        width: 49em;
        margin-left: -51em;
        height: fit-content;
        border-radius: 0.8em;
    }
    #virada2_BG{
        display: none;
        width: 52em;
        background: rgb(62 62 62 / 30%);
        height: 26em;
        margin: auto;
        margin-top: -23em;
    }
    #virada2_BG i{
        margin-left: 33em;
        margin-top: 0.5em;
        cursor: grab;
        left: 0em;
    }
    #zoomSpan{
        display: none;
    }
}
/*Telas grandes, Desktops*/
@media (min-width:1200px){
    .logo{
        margin: 3em;
    }
    .container-1 h1{
        text-align: center;
        line-height: 1.5em;
    }
    .container-1 h3{
        font-size: 1.9em;
    }
    .container-1{
        margin-top: 6em;
    }
    .container-2{
        flex-direction: row;
    }
    #foto-apresentacao{
        top: 0em;
        position: relative;
    }
    .container-3{
        flex-direction: row;
    }
    #fotoVirada2{
        padding: 2em;
        margin: auto;
        position: relative;
        top: 2em;
        width: 49em;
        margin-left: -51em;
        height: fit-content;
        border-radius: 0.8em;
    }
    #virada2_BG{
        display: none;
        width: 52em;
        background: rgb(62 62 62 / 30%);
        height: 26em;
        margin: auto;
        margin-top: -23em;
    }
    #virada2_BG i{
        margin-left: 33em;
        margin-top: 0.5em;
        cursor: grab;
        left: 0em;
    }
    #zoomSpan{
        display: none;
    }
}

/*Telas muito grandes, Tvs
@media (min-width:1201px){
    
}*/
